---

- name: assert IPv4 DNS entry
  local_action: shell dig A {{ inventory_hostname }} | egrep '^{{ inventory_hostname }}'
  changed_when: False

- name: assert IPv6 DNS entry
  local_action: shell dig AAAA {{ inventory_hostname }} | egrep '^{{ inventory_hostname }}'
  changed_when: False

- name: test access to admin account (ssh key neccessary!)
  command: "true"
  changed_when: False

- name: test access to root account
  command: "true"
  changed_when: False
  become: True
  become_user: root

- name: fail on wrong OS type and version  # TODO: include debian
  fail: msg="unsupported OS type or version - {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  when: not ( ( ansible_distribution=="Ubuntu" and ansible_distribution_major_version|int==14 ) or ( ansible_distribution=="Debian" and ansible_distribution_major_version|int==8 ) )
