proxy_cache_path /var/www/cache/tiles
  levels=1:2 inactive=7d
  keys_zone=tilecache:64m
  max_size=2048M;

upstream osm_tiles {
  server a.tile.openstreetmap.de:443;
  server b.tile.openstreetmap.de:443;
  server c.tile.openstreetmap.de:443;
  keepalive 16;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ http_tiles_internal }} {{ http_tiles_external }};

  include snippets/redirect-to-ssl.conf;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ http_tiles_internal }} {{ http_tiles_external }};

  include snippets/ssl.conf;

  location / {
    try_files $uri @osm;
  }

  location @osm {
    proxy_pass https://osm_tiles;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header Accept-Encoding "";
    proxy_set_header User-Agent "Mozilla/5.0 (compatible; OSMTileCache/1.0; +mailto:admin@lists.freifunk-mwu.de; +https://{{ http_meshviewer_external }}/)";
    proxy_set_header Host tile.openstreetmap.de;

    proxy_temp_path /var/www/cache/tiles/tmp;
    proxy_cache tilecache;
    proxy_store off;
    proxy_cache_key $uri$is_args$args;
    proxy_ignore_headers Expires Cache-Control;
    proxy_cache_valid 200 301 302 7d;
    proxy_cache_valid 404 1m;
    proxy_cache_valid any 1m;
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504 http_403 http_404;
    proxy_cache_use_stale error timeout updating invalid_header http_500 http_502 http_503 http_504 http_403 http_404;

    proxy_hide_header Via;
    proxy_hide_header X-Cache;
    proxy_hide_header X-Cache-Lookup;
    proxy_hide_header Strict-Transport-Security;

    expires 7d;
  }
}
