Name = {{ icvpn.prefix }}{{ magic }}
PrivateKeyFile = /etc/tinc/{{ icvpn.interface }}/rsa_key.priv
Mode = Switch
PingTimeout = 30
Port = 10655
Hostnames = yes
GraphDumpFile = /etc/tinc/{{ icvpn.interface }}/topo.dot
Interface = {{ icvpn.interface }}

{% for metanode in metanodes.stdout_lines %}
ConnectTo = {{ metanode }}
{% endfor %}
