{% set ip4hex = item.ipv4_network | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(magic) | ansible.utils.ipaddr('address') | ansible.utils.ip4_hex() %}
{% set mac = '0201' + ip4hex %}
#
# {{ ansible_managed }}
#
[NetDev]
Name={{ item.id }}bat
Kind=batadv
MACAddress={{ mac | ansible.utils.hwaddr('linux') }}

[BatmanAdvanced]
{% if 'gateways' in group_names %}
GatewayMode={{ item.batman.gw }}
{% else %}
GatewayMode=off
{% endif %}
RoutingAlgorithm={{ item.batman.algo | default('batman-iv') }}
DistributedArpTable={{ item.batman.dat }}
HopPenalty={{ item.batman.hop_penalty }}
OriginatorIntervalSec={{ item.batman.it }}
GatewayBandwithDown={{ item.batman.down }}
GatewayBandwithUp={{ item.batman.up }}
