[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=0.0.0.0/8

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=10.0.0.0/8

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=100.64.0.0/10

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=127.0.0.0/8

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=169.254.0.0/16

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=172.16.0.0/12

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=192.0.0.0/24

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=192.0.2.0/24

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=192.88.99.0/24

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=192.168.0.0/16

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=198.18.0.0/15

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=198.51.100.0/24

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=203.0.113.0/24

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=224.0.0.0/4

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=240.0.0.0/4

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=255.255.255.255/32

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=fec0::/10

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=fc00::/7

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=ff00::/8

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=::/96

[Route]
Type=blackhole
Table={{ routing_tables.mwu.internet }}
Destination=0:0:0:0:0:ffff::/96

[Route]
Type=blackhole
Table=main
Destination=0.0.0.0/8

[Route]
Type=blackhole
Table=main
Destination=10.0.0.0/8

[Route]
Type=blackhole
Table=main
Destination=100.64.0.0/10

[Route]
Type=blackhole
Table=main
Destination=127.0.0.0/8

[Route]
Type=blackhole
Table=main
Destination=169.254.0.0/16

[Route]
Type=blackhole
Table=main
Destination=172.16.0.0/12

[Route]
Type=blackhole
Table=main
Destination=192.0.0.0/24

[Route]
Type=blackhole
Table=main
Destination=192.0.2.0/24

[Route]
Type=blackhole
Table=main
Destination=192.88.99.0/24

[Route]
Type=blackhole
Table=main
Destination=192.168.0.0/16

[Route]
Type=blackhole
Table=main
Destination=198.18.0.0/15

[Route]
Type=blackhole
Table=main
Destination=198.51.100.0/24

[Route]
Type=blackhole
Table=main
Destination=203.0.113.0/24

[Route]
Type=blackhole
Table=main
Destination=224.0.0.0/4

[Route]
Type=blackhole
Table=main
Destination=240.0.0.0/4

[Route]
Type=blackhole
Table=main
Destination=255.255.255.255/32

[Route]
Type=blackhole
Table=main
Destination=fec0::/10

[Route]
Type=blackhole
Table=main
Destination=fc00::/7

[Route]
Type=blackhole
Table=main
Destination=ff00::/8

[Route]
Type=blackhole
Table=main
Destination=::/96

[Route]
Type=blackhole
Table=main
Destination=0:0:0:0:0:ffff::/96

[Route]
Type=blackhole
Table=main
Destination=::/0
