#
# {{ ansible_managed }}
#
[Match]
Name={{ item.id }}br

[Network]
Address={{ item.ipv4_network | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(magic) | ansible.utils.ipaddr('ip/prefix') }}
{% for prefix in item.ipv6_ula %}
Address={{ prefix | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr(magic) | ansible.utils.ipaddr('ip/prefix') }}
{% endfor %}
{% for prefix in item.ipv6_public %}
Address={{ prefix | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr(magic) | ansible.utils.ipaddr('ip/prefix') }}
{% endfor %}
{% if mesh_gw_prefixes is defined %}
{% for prefix in mesh_gw_prefixes[item.id].ipv6_public %}
Address={{ prefix | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('ip/prefix') }}
{% endfor %}
{% endif %}
{% if 'gateways' in group_names %}
IPForward=yes
{% endif %}
IPv6AcceptRA=no

[Route]
Destination={{ item.ipv4_network }}
Table={{ routing_tables.mwu }}

{% for ula in item.ipv6_ula %}
[Route]
Destination={{ ula | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr('subnet') }}
Table={{ routing_tables.mwu }}

{% endfor %}
{% for public in item.ipv6_public %}
[Route]
Destination={{ public | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr('subnet') }}
Table={{ routing_tables.mwu }}

{% endfor %}
{% if mesh_gw_prefixes is defined %}
{% for public in mesh_gw_prefixes[item.id].ipv6_public %}
[Route]
Destination={{ public | ansible.utils.ipaddr('net') | ansible.utils.ipsubnet(64, 0) | ansible.utils.ipaddr('subnet') }}
Table={{ routing_tables.mwu }}

{% endfor %}
{% endif %}
