127.0.0.1/32                            v4-localhost
[::1]/128                               v6-localhost

{{ ansible_default_ipv4.address }}/32   v4-{{ inventory_hostname_short }}
[{{ ansible_default_ipv6.address }}]/128    v6-{{ inventory_hostname_short }}
