127.0.0.1/32                            v4-localhost
[::1]/128                               v6-localhost

5.199.136.244/32                        v4-glueckskeks
[2001:4ba0:fffc:3d::b4dc:4b1e:3]/128    v6-glueckskeks
