{{ loopback_net_ipv4 | ipaddr('network/prefix') }}	Freifunk MWU Loopback Network IPv4
[{{ loopback_net_ipv6 | ipaddr('network') }}]/{{ loopback_net_ipv6 | ipaddr('prefix') }}	Freifunk MWU Loopback Network IPv6
