---
#
# user-configurable defaults
#

prometheus_components:
    - "node_exporter"

prometheus_user: prometheus
prometheus_group: prometheus

prometheus_version: 2.20.1
node_exporter_version: 1.0.1
blackbox_exporter_version: 0.17.0
alertmanager_version: 0.21.0

prometheus_url_external: "{{ http_prometheus_prefix }}.{{ http_domain_external }}"
prometheus_url_internal: "{{ http_prometheus_prefix }}.{{ http_domain_internal }}"

prometheus_install_path: /opt/prometheus
prometheus_config_path: /etc/prometheus
prometheus_rule_path: "{{ prometheus_config_path }}/rules"
prometheus_rule_files: [ "alert.rules" ]
prometheus_file_sd_config_path: "{{ prometheus_config_path }}/tgroups"
prometheus_db_path: /var/lib/prometheus
alertmanager_db_path: /var/lib/alertmanager

prometheus_download_path: /tmp
prometheus_workdir: "{{ prometheus_download_path }}/prometheus_workdir"
prometheus_goroot: "{{ prometheus_workdir }}/go"
prometheus_gopath: "{{ prometheus_workdir }}/gopath"

prometheus_default_opts: "--web.listen-address=localhost:9090 --config.file={{ prometheus_config_path }}/prometheus.yml --storage.tsdb.path={{ prometheus_db_path }}"
alertmanager_default_opts: "--web.listen-address=localhost:9093 --config.file={{ prometheus_config_path }}/alertmanager.yml --storage.path={{ alertmanager_db_path }}"
node_exporter_default_opts: "--web.listen-address=localhost:9100"
blackbox_default_opts: "--web.listen-address=localhost:9115 --config.file={{ prometheus_config_path }}/blackbox.yml"
