---
- name: install batman-module and linux headers
  package:
    name: "{{ batman_packages }}"
    state: present

- name: configure batman module to load on system boot
  template:
    src: batman-adv.module.conf.j2
    dest: /etc/modules-load.d/batman-adv.conf

- name: load batman module
  modprobe:
    name: "batman-adv"
    state: present
