#
# {{ ansible_managed }}
#

http:
    listen: "127.0.0.1:8084"

logging:
    level: "INFO"

irc:
    host: "irc.hackint.eu"
    port: 6697
    ssl:
        enabled: true
    nickname: "ffmwu-prom"

modules:
    prometheus:
        type: "prometheus"
        endpoint: "/prometheus"
        channel: "#ffmwu-feed"
