data_interval = "1m"

batman = [ {% for mesh in meshes %}"{{mesh.id}}bat"{% if not loop.last %}, {% endif %}{% endfor %} ]

{% if server_type == 'monitoring' %}
[[listen]]
address   = "ff02::2:1001"
interface = "loopback"
port      = 1001
{% else %}
[[listen]]
address   = "ff02::2:1001"
interface = "wg-suesskartof"
port      = 1001
{% endif%}
{% for mesh in meshes %}
{% if server_type == 'gateway' %}
{% for instance in mesh.fastd.nodes.instances %}
[[listen]]
address   = "ff02::2:1001"
interface = "{{ mesh.id }}vpn-{{ instance.mtu }}"
port      = 1001
{% endfor %}
{% endif %}
{% for instance in mesh.fastd.backbone.instances %}
[[listen]]
address   = "ff02::2:1001"
interface = "{{ mesh.id }}igvpn-{{ instance.mtu }}"
port      = 1001
{% endfor %}
{% endfor %}

[defaults]
node_id  = ""
hostname = ""
site_code = "ffmwu"
domain_code = "servers"
{% if server_type == "gateway" %}
vpn = true
{% else %}
vpn = false
{% endif %}
interfaces_traffic = [ "{{ ansible_default_ipv4.interface }}" ]
interfaces_address = [ "loopback" ]
