data_interval = "1m"

batman = [ {% for mesh in meshes %}"{{mesh.id}}bat"{% if not loop.last %}, {% endif %}{% endfor %} ]

{% for host in groups['monitoring'] %}
[[listen]]
address   = "ff02::2:1001"
{% if host == inventory_hostname %}
interface = "loopback"
{% else %}
interface = "wg-{{ host.rsplit('.')[0][:11] }}"
{% endif%}

{% endfor %}
{% for mesh in meshes %}
{% if server_type == 'gateway' and inventory_hostname not in groups["backbone_gateways"] %}
{% for instance in mesh.fastd.nodes.instances %}
[[listen]]
address   = "ff02::2:1001"
interface = "{{ mesh.id }}vpn-{{ instance.mtu }}"
port      = 1001

{% endfor %}
{% endif %}
{% for instance in mesh.fastd.backbone.instances %}
[[listen]]
address   = "ff02::2:1001"
interface = "{{ mesh.id }}igvpn-{{ instance.mtu }}"
port      = 1001

[[listen]]
address   = "ff05::2:1001"
interface = "{{ mesh.id }}br"
port      = 1001

{% endfor %}
{% if gw_batman_mesh_interfaces[mesh.id] is defined and gw_batman_mesh_interfaces[mesh.id] | length > 0 %}
{% for _batman_interface in gw_batman_mesh_interfaces[mesh.id] %}
[[listen]]
address   = "ff02::2:1001"
interface = "{{ _batman_interface }}"
port      = 1001

[[listen]]
address   = "ff05::2:1001"
interface = "{{ _batman_interface }}"
port      = 1001

{% endfor %}
{% endif %}
{% endfor %}

[defaults]
node_id  = ""
hostname = ""
site_code = "ffmwu"
domain_code = "servers"
{% if server_type == "gateway" %}
vpn = true
{% else %}
vpn = false
{% endif %}
interfaces_traffic = [ "{{ ansible_default_ipv4.interface }}" ]
interfaces_address = [ "loopback" ]
