[defaults]
inventory             = ./inventory/hosts
retry_files_save_path = ~/.ansible/retry-files
#vault_password_file   = ~/.ansible/vault-password-file
remote_tmp = $HOME/ansible_tmp
ansible_managed = Ansible managed - don't edit this file!

#[ssh_connection]
#pipelining = True
