
#
# {{ ansible_managed }}
#
{% for mesh_id, mesh_value in meshes.iteritems() %}
interface {{ mesh_id }}BR
{
	AdvSendAdvert on;
	IgnoreIfMissing on;
	MaxRtrAdvInterval 900;
	AdvLinkMTU {{ mesh_value.iface_mtu }};

{% for ip_type, ip_list in mesh_value.ipv6.iteritems() %}
{% for prefix in ip_list %}
{% if ip_type == "ula" %}
	RDNSS {{ prefix | ipaddr('net') | ipsubnet(64, 0) | ipaddr(magic) | ipaddr('address') }}
	{
		FlushRDNSS off;
	};
{% endif %}
{% endfor %}
{% endfor %}

{% for ip_type, ip_list in mesh_value.ipv6.iteritems() %}
{% for prefix in ip_list %}
{% if ip_type == "public" %}
	prefix {{ prefix | ipaddr('net') | ipsubnet(64, magic) | ipaddr('subnet')  }}
{% else %}
	prefix {{ prefix | ipaddr('net') | ipsubnet(64, 0) | ipaddr('subnet') }}
{% endif %}
	{
		AdvValidLifetime 864000;
		AdvPreferredLifetime 172800;
	};
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
};
{% if not loop.last %}

{% endif %}
{% endfor %}
