#
# {{ ansible_managed }}
#
{% for key, value in meshes.iteritems() %}
interface {{ key }}BR
{
	AdvSendAdvert on;
	IgnoreIfMissing on;
	MaxRtrAdvInterval 900;
	AdvLinkMTU {{ value.iface_mtu }};

{% for ip_type, ip_list in value.ipv6.iteritems() %}
{% for prefix in ip_list %}
{% if ip_type == "ula" %}
	RDNSS {{ prefix | ipaddr('net') | ipsubnet(64, 0) | ipaddr(magic) }}
	{
		FlushRDNSS off;
	};
{% endif %}
{% endfor %}
{% endfor %}

{% for ip_type, ip_list in value.ipv6.iteritems() %}
{% for prefix in ip_list %}
{% if ip_type == "public" %}
	prefix {{ prefix | ipaddr('net') | ipsubnet(64, magic)  }}
{% else %}
	prefix {{ prefix | ipaddr('net') | ipsubnet(64, 0) }}
{% endif %}
	{
		AdvValidLifetime 864000;
		AdvPreferredLifetime 172800;
	};
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
};
{% if not loop.last %}

{% endif %}
{% endfor %}
