---
- name: install bird packages
  package:
    name: "{{ item }}"
    state: present
  loop:
    - bird-bgp
    - bird-doc

- name: set directory permissions for /etc/bird
  file:
    path: /etc/bird
    state: directory
    mode: 0755

- name: write bird.conf
  template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
    mode: 0640
    owner: bird
    group: bird
  notify: reload systemd unit bird

- name: write bird6.conf
  template:
    src: bird6.conf.j2
    dest: /etc/bird/bird6.conf
    mode: 0640
    owner: bird
    group: bird
  notify: reload systemd unit bird6

- name: write mwu_ipv4_peers.conf
  template:
    src: mwu_ipv4_peers.conf.j2
    dest: /etc/bird/mwu_ipv4_peers.conf
    mode: 0640
    owner: bird
    group: bird
  tags: sync-peers
  notify: reload systemd unit bird

- name: write mwu_ipv6_peers.conf
  template:
    src: mwu_ipv6_peers.conf.j2
    dest: /etc/bird/mwu_ipv6_peers.conf
    mode: 0640
    owner: bird
    group: bird
  tags: sync-peers
  notify: reload systemd unit bird6

- name: write radv.conf
  when: server_type == "gateway"
  template:
    src: radv.conf.j2
    dest: /etc/bird/radv.conf
    mode: 0640
    owner: bird
    group: bird
  notify: reload systemd unit bird6

- name: build bird-exporter binary
  shell: "go get -v -u github.com/czerwonk/bird_exporter"
  environment:
    GOPATH: "{{ gopath }}"
  notify: restart bird-exporter

- name: copy vhost bird_exporter.conf
  template:
    src: "bird_exporter_vhost.conf.j2"
    dest: "/etc/nginx/conf.d/bird_exporter.conf"
  notify: restart nginx

- name: create systemd unit for bird-exporter
  template:
    src: "bird-exporter.service.j2"
    dest: "/etc/systemd/system/bird-exporter.service"
  notify:
    - reload systemd
    - restart bird-exporter

- name: enable + start systemd units bird + bird6
  systemd:
    name: bird{{ item }}
    enabled: yes
    state: started
  loop:
    - ""
    - 6

- name: configure bird-exporter systemd unit
  systemd:
    name: "bird-exporter.service"
    enabled: yes
    state: started
