---
- name: install git packages
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - git

- name: create fastd peer mesh directories
  file:
    path: "/etc/fastd/{{ item.key }}VPN/peers"
    state: directory
    mode: 0755
    owner: admin
    group: admin
  with_dict: "{{ meshes }}"

- name: create fastd peer intragate directories
  file:
    path: "/etc/fastd/{{ item.key }}igVPN/peers"
    state: directory
    mode: 0755
    owner: admin
    group: admin
  with_dict: "{{ meshes }}"

- name: clone fastd peer mesh repos
  git:
    repo: "{{ item.value.peers_mesh_repo }}"
    dest: "/etc/fastd/{{ item.key }}VPN/peers"
    version: master
    update: no
  with_dict: "{{ meshes }}"
  become: false

- name: clone fastd peer intragate repos
  git:
    repo: "{{ item.value.peers_intragate_repo }}"
    dest: "/etc/fastd/{{ item.key }}igVPN/peers"
    version: master
    update: no
  with_dict: "{{ meshes }}"
  become: false
