#
# {{ ansible_managed }}
#
upstream modoboa {
      server      unix:/run/modoboa/socket fail_timeout=0;
}

server {
    listen 80;
    listen [::]:80;
    server_name mailadmin.{{ mail_domain }} webmail.{{ mail_domain }};

    include /etc/nginx/snippets/redirect-to-ssl.conf;
}

server {
      listen 443 ssl http2;
      listen [::]:443 ssl http2;
      keepalive_timeout 70;

      server_name mailadmin.{{ mail_domain }} webmail.{{ mail_domain }};
      root {{ modoboa_instance_dir }};

      access_log  /var/log/nginx/modoboa.access.log;
      error_log /var/log/nginx/modoboa.error.log;

      include /etc/nginx/snippets/ssl.conf;

      location /sitestatic/ {
              autoindex on;
      }

      location /media/ {
              autoindex on;
      }

      location / {
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
              proxy_set_header Host $http_host;
              proxy_redirect off;
              proxy_set_header X-Forwarded-Protocol ssl;
              proxy_pass http://modoboa;
      }

      location ^~ /new-admin {
          alias  /opt/modoboa/ffmwu/frontend/;
          index  index.html;

          expires -1;
          add_header Pragma "no-cache";
          add_header Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0";

          try_files $uri $uri/ /index.html = 404;
      }
}
