server {
    listen 80;
    listen [::]:80;
    server_name {{ http_mwu_landing_page_external }} {{ http_mwu_landing_page_internal }} {{ http_domain_external }} {{ http_domain_internal }};

    include /etc/nginx/snippets/gzip.conf;
    include /etc/nginx/snippets/letsencrypt-acme-challenge.conf;

    root {{ mwu_landing_page_path }};
    location / {
        autoindex on;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ http_mwu_landing_page_external }} {{ http_mwu_landing_page_internal }};

    {% if acme_server == 'zuckerwatte' %}
        ssl_certificate     /etc/nginx/ssl/{{ inventory_hostname_short }}.{{ http_domain_external }}/fullchain.pem;
        ssl_certificate_key /etc/nginx/ssl/{{ inventory_hostname_short }}.{{ http_domain_external }}/privkey.pem;
    {% else %}
        ssl_certificate     /etc/nginx/ssl/{{ http_domain_external }}/fullchain.pem;
        ssl_certificate_key /etc/nginx/ssl/{{ http_domain_external }}/privkey.pem;
    {% endif %}

    include /etc/nginx/snippets/gzip.conf;
    include /etc/nginx/snippets/letsencrypt-acme-challenge.conf;

    root {{ mwu_landing_page_path }};
    index index.html index.htm;
}
