#
# {{ ansible_managed }}
#
reject = {{ rspamd_action_threshold_reject }};
add_header = {{ rspamd_action_threshold_addheader }};
greylist = {{ rspamd_action_threshold_greylist }};
rewrite_subject = {{ rspamd_action_threshold_rewritesubject }};
