#
# {{ ansible_managed }}
#
auto {{ item.key }}
iface {{ item.key }} inet tunnel
    mode gre
    local {{ ansible_default_ipv4.address | ipaddr('public') | ipaddr('address') }}
    endpoint {{ item.value.public_ipv4_address | ipaddr('public') | ipaddr('address') }}

    ttl 64
    mtu 1400
    tunnel-physdev {{ ansible_default_ipv4.interface }}

    address {{ item.value.tunnel_ipv4_network | ipaddr('net') | ipaddr('1') | ipaddr('address') }}/{{ item.value.tunnel_ipv4_network | ipaddr('net') | ipaddr('prefix') }}
    address {{ item.value.tunnel_ipv6_network | ipaddr('net') | ipaddr('2') | ipaddr('address')  }}/{{ item.value.tunnel_ipv6_network | ipaddr('net') | ipaddr('prefix') }}
    address {{ ffrl_public_ipv4_nat | ipaddr('address') }}/{{ ffrl_public_ipv4_nat | ipaddr('prefix') }}
