#
# {{ ansible_managed }}
#
# This setting is non-default & may be desirable
#action = "no action";
expire = 1d;
key_prefix = "rr";
message = "Message is reply to one we originated";
symbol = "REPLY";
