---
- name: install iptables packages
  package:
    name: "{{ item }}"
    state: present
  loop:
    - iptables
    - iptables-persistent

- name: configure nf_conntrack module to load on system boot
  template:
    src: nf_conntrack.module.conf.j2
    dest: /etc/modules-load.d/nf_conntrack.conf

- name: load nf_conntrack module
  modprobe:
    name: nf_conntrack
    state: present

- name: load nf_conntrack_ipv4 module
  when: ansible_distribution_major_version|int == 9
  modprobe:
    name: nf_conntrack
    state: present

- name: set netfilter sysctl settings
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
  loop: "{{ sysctl_settings_netfilter }}"

- name: write iptables configuration
  template:
    src: rules.v4.j2
    dest: /etc/iptables/rules.v4
  notify: iptables-restore

- name: write ip6tables configuration
  template:
    src: rules.v6.j2
    dest: /etc/iptables/rules.v6
  notify: ip6tables-restore
