[Unit]
Description=Manage Freifunk MWU IP rules
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ffmwu-add-ip-rules.sh
ExecStop=/usr/local/bin/ffmwu-del-ip-rules.sh

[Install]
WantedBy=multi-user.target
