---
dovecot_packages:
  - "dovecot-core"
  - "dovecot-imapd"
  - "dovecot-lmtpd"
  - "dovecot-lucene"
  - "dovecot-managesieved"
  - "dovecot-mysql"
  - "dovecot-pop3d"
  - "dovecot-sieve"
  - "dovecot-solr"

mailman_packages:
  - "mailman"
  - "fcgiwrap"

modoboa_pip_packages:
  - "gunicorn"
  - "modoboa=={{ modoboa_version }}"
  - "modoboa-dmarc=={{ modoboa_dmarc_version }}"
  - "modoboa-sievefilters=={{ modoboa_sievefilters_version }}"
  - "modoboa-stats=={{ modoboa_stats_version }}"
  - "modoboa-webmail=={{ modoboa_webmail_version }}"
  - "mysqlclient"

modoboa_packages:
  - "build-essential"
  - "default-libmysqlclient-dev"
  - "python-dev"
  - "libxml2-dev"
  - "libxslt-dev"
  - "libjpeg-dev"
  - "librrd-dev"
  - "rrdtool"
  - "libffi-dev"
  - "python-setuptools"
  - "python"
  - "python-dev"
  - "python-pip"
  - "python-setuptools"
  - "python-virtualenv"
  - "python3"
  - "python3-dev"
  - "python3-pip"
  - "python3-setuptools"
  - "python3-virtualenv"
  - "virtualenv"

postfix_packages:
  - "postfix"
  - "postfix-doc"
  - "postfix-lmdb"
  - "postfix-mysql"
  - "postfix-pcre"

rspamd_packages:
  - "rspamd"
  - "redis-server"
  - "redis-tools"

_mail_packages: "{{ postfix_packages }} + {{ rspamd_packages }} + {{ dovecot_packages }} + {{ modoboa_packages }}"
