{% set local_interface = item.id + 'VPN' -%}
#
# {{ ansible_managed }}
#
{% for interface in fastd_secrets %}
{% if local_interface == interface %}
secret "{{ fastd_secrets[interface] }}";
{% endif %}
{% endfor %}
