#
# {{ ansible_managed }}
#

additional: 8

redis_db: '127.0.0.1:6379'

fastd_keys: '{{ git_path }}/peers-ffmwu'
key_ttl: 900

gateways:
{% for gateway in groups['gateways'] %}
{% if not gateway == 'mate.freifunk-mwu.de' %}
  - {{ gateway.rsplit('.freifunk-mwu.de')[0] }}
{% endif %}
{% endfor %}

metrics_url: 'https://%s.freifunk-mwu.de:9281/metrics'
