#
# {{ ansible_managed }}
#

additional: 16
metrics_url: 'https://%s.freifunk-mwu.de:9281/metrics'
limit_file: '/etc/fastd/peer_limit'
fastd_instances:
{% for mesh in meshes %}
{% for instance in mesh.fastd.nodes.instances %}
  - {{ mesh.id }}vpn-{{ instance.mtu }}
{% endfor %}
{% endfor %}
gateways:
{% for gateway in groups['ffmwu-gateways'] %}
  - {{ gateway.rsplit('.freifunk-mwu.de')[0] }}
{% endfor %}
fetch_timeout: 10
