#
# {{ ansible_managed }}
#

redis_db: '127.0.0.1:6379'

fastd_keys: '{{ git_path }}/peers-ffmwu'
key_ttl: 900

metrics_exporter: 'kea'
metrics_url: 'http://127.0.0.1:9547/metrics'
metrics_url: 'https://%s.freifunk-mwu.de:9547/metrics'

gateways:
{% for gateway in groups['gateways'] %}
{% if gateway in groups['backbone_gateways'] %}
{% continue %}
{% else %}
  - {{ gateway.rsplit('.freifunk-mwu.de')[0] }}
{% endif %}
{% endfor %}

subnets:
{% for mesh in meshes %}
  '{{ mesh.ipv4_network | ansible.utils.ipaddr('network/prefix') }}': '{{ mesh.id }}'
{% endfor %}
