#jinja2: trim_blocks:False
{% set ip4hex = item.ipv4_network | ipaddr('net') | ipaddr(magic) | ipaddr('address') | ansible.utils.ip4_hex -%}
{% set mac = '0201' + ip4hex -%}
#
# {{ ansible_managed }}
#
auto {{ item.id }}bat
iface {{ item.id }}bat
    hwaddress {{ mac | hwaddr('linux') }}
    batman-ifaces {{ item.id }} {% if server_type == 'gateway' %}{% for instance in item.fastd.nodes.instances %}{{ item.id }}vpn-{{ instance.mtu }}{% if not loop.last %} {% endif %}{% endfor %} {% endif %}{% for instance in item.fastd.backbone.instances %}{{ item.id }}igvpn-{{ instance.mtu }}{% if not loop.last %} {% endif %}{% endfor %}
    batman-hop-penalty {{ item.batman.hop_penalty }}
    post-up /usr/sbin/batctl -m $IFACE it {{ item.batman.it }}
    post-up /usr/sbin/batctl -m $IFACE mm {{ item.batman.mm }}
    post-up /usr/sbin/batctl -m $IFACE dat {{ item.batman.dat }}
    post-up /usr/sbin/batctl -m $IFACE gw {% if server_type == 'gateway' %}{{ item.batman.gw }}{% else %}off{% endif %}
