[paths]

[server]

protocol = http
http_addr = 127.0.0.1
http_port = 3000
router_logging = false

[database]

[session]

provider = memory

cookie_secure = true

[dataproxy]

[analytics]

reporting_enabled = false

[security]

admin_user = admin
admin_password = {{ lookup('passwordstore', 'grafana/admin') }};
login_remember_days = 7

[snapshots]

[users]

allow_sign_up = true
allow_org_create = false

[auth]

[auth.anonymous]

enabled = true
org_name = Freifunk MWU
org_role = Viewer

[auth.github]

[auth.google]

[auth.generic_oauth]

[auth.grafana_com]

[auth.proxy]

[auth.basic]

[auth.ldap]

[smtp]

[emails]

[log]

mode = console

[log.console]
level = warn

[event_publisher]

[dashboards.json]

[alerting]

enabled = false

[metrics]

enabled = true

[metrics.graphite]

[grafana_com]

[external_image_storage]

[external_image_storage.s3]

[external_image_storage.webdav]
