server {
    listen 80;
    listen [::]:80;
    server_name {{ http_firmware_selector_external }} {{ http_firmware_selector_internal }};

    include /etc/nginx/snippets/redirect-to-ssl.conf;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ http_firmware_selector_external }} {{ http_firmware_selector_internal }};

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/gzip.conf;

    root {{ firmware_selector_path }};
    index index.html index.htm;
}

{% for mesh in meshes %}
{% if mesh.http_domain_internal is defined %}
server {
    listen 80;
    listen [::]:80;
{% if mesh.http_domain_external is defined %}
    server_name {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_external }} {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_internal }};
{% else %}
    server_name {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_internal }};
{% endif %}
    return 301 https://{{ http_firmware_selector_external }}$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
{% if mesh.http_domain_external is defined %}
    server_name {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_external }} {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_internal }};
{% else %}
    server_name {{ http_firmware_selector_prefix }}.{{ mesh.http_domain_internal }};
{% endif %}
    return 301 https://{{ http_firmware_selector_external }}$request_uri;
}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
