//
// {{ ansible_managed }}
//

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.default-zones";
include "/etc/bind/named.conf.logging";
{% for mesh_id, mesh_value in meshes.iteritems() %}
include "/etc/bind/named.conf.{{ mesh_value.site_code }}";
{% endfor %}
include "/etc/bind/named.conf.icvpn";
