//
// {{ ansible_managed }}
//

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.default-zones";
include "/etc/bind/named.conf.ffmwu-zones";
include "/etc/bind/named.conf.logging";
include "/etc/bind/named.conf.icvpn";
