[Unit]
Description=node_exporter - Prometheus exporter for machine metrics.
After=network.target

[Service]
Type=simple

User={{ prometheus_user }}
Group={{ prometheus_group }}

{% if node_exporter_opts is defined %}
ExecStart={{ node_exporter_daemon_dir }}/node_exporter  {{ node_exporter_opts }}
{% else %}
ExecStart={{ node_exporter_daemon_dir }}/node_exporter
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
