global:
  scrape_interval:     1m # By default, scrape targets every 15 seconds.
  evaluation_interval: 1m # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - scheme: https
      path_prefix: /alertmanager/
      static_configs:
        - targets: ['{{ http_prometheus_prefix }}.{{ http_domain_external }}']

{% if prometheus_rule_files is defined %}
# Rule files specifies a list of files from which rules are read.
rule_files:
  {% for item in prometheus_rule_files %}
  - {{ prometheus_rule_path }}/{{ item }}
  {% endfor %}
{% endif %}

# A list of scrape configurations.
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: "node"
    scheme: "https"
    static_configs:
{%for group in prometheus_groups %}
      - targets:
{% for host in groups[group] %}
        - '{{ host }}:9100'
{% endfor %}
        labels:
          group: '{{ group }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

  - job_name: "bird"
    scheme: "https"
    static_configs:
{%for group in bgp_groups %}
      - targets:
{% for host in groups[group] %}
        - '{{ host }}:9324'
{% endfor %}
        labels:
          group: '{{ group }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

  - job_name: "fastd"
    scheme: "https"
    static_configs:
      - targets:
{% for host in groups['gateways'] %}
        - '{{ host }}:9281'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

  - job_name: "dhcpd"
    scheme: "https"
    static_configs:
      - targets:
{% for host in groups['gateways'] %}
        - '{{ host }}:9547'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

  - job_name: "jitsi"
    scheme: "https"
    static_configs:
      - targets:
{% for host in groups['jitsi'] %}
        - '{{ host }}:9210'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

{% for job in ['icmp4','icmp6'] %}
  - job_name: "{{ job }}"
    metrics_path: /probe
    params:
      module: ["{{ job }}"]
    static_configs:
      - targets:
{% for group in prometheus_groups %}
{% for host in groups[group] %}
{% if host != inventory_hostname %}
        - "{{ host.rsplit('.')[0] }}.ffmwu.org"
{% endif %}
{% endfor %}
{% endfor %}
{% for host, _ in bgp_legacy_servers.items() %}
        - "{{ host }}.ffwi.org"
        - "{{ host }}.ffmz.org"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115
      - source_labels: [__param_target]
        regex: '([a-z]+)\..*'
        replacement: '$1'
        target_label: hostname

{% endfor %}
