server {
    listen 80;
    listen [::]:80;
    server_name {{ prometheus_url_external }} {{ prometheus_url_internal }};

    include /etc/nginx/snippets/redirect-to-ssl.conf;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ prometheus_url_external }} {{ prometheus_url_internal }};

    include /etc/nginx/snippets/ssl.conf;

    satisfy  any;

    allow 127.0.0.0/8;
    allow ::1/128;
    allow {{ lookup('dig', inventory_hostname, 'qtype=A') }};
{% if inventory_hostname not in groups["servers_ipv4_only"] %}
    allow {{ lookup('dig', inventory_hostname, 'qtype=AAAA') }};
{% endif %}

    location /alertmanager {
      proxy_pass http://127.0.0.1:9093;
      auth_basic "Prometheus";
      auth_basic_user_file /etc/nginx/htpasswd_prometheus;
    }

    location / {
      proxy_pass http://127.0.0.1:9090;
      auth_basic "Prometheus";
      auth_basic_user_file /etc/nginx/htpasswd_prometheus;
    }
}
