#
# {{ ansible_managed }}
#
[Unit]
Description=Logs table cleanup for modoboa

[Service]
Type=oneshot
ExecStart={{ modoboa_venv_dir }}/bin/python3 {{ modoboa_instance_dir }}/manage.py cleanlogs
User={{ modoboa_user }}
Group={{ modoboa_user }}
