#
# {{ ansible_managed }}
#
auto anycast
iface anycast
    link-type dummy
    address {{ ffmwu_anycast_ipv4 | ipaddr('network/prefix') }}
    address {{ ffmwu_anycast_ipv6 | ipaddr('network/prefix') }}
