#
# {{ ansible_managed }}
#
[Match]
Name=loopback

[Network]
Address={{ loopback_net_ipv4 | ansible.utils.ipsubnet(32, magic) | ansible.utils.ipaddr('network/prefix') }}
Address={{ loopback_net_ipv6 | ansible.utils.ipaddr(magic) | ansible.utils.ipaddr('address') }}/128
