server {
    listen 80;
    listen [::]:80;
    server_name {{ lg_url_external }} {{ lg_url_internal }};

    include /etc/nginx/snippets/redirect-to-ssl.conf;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ lg_url_external }} {{ lg_url_internal }};

    include /etc/nginx/snippets/ssl.conf;

    location / {
      proxy_pass http://127.0.0.1:5001;
    }
}
