<VirtualHost *:80>
	ServerName {{ inventory_hostname }}
	ServerAdmin webmaster@freifunk-mwu.de

	DocumentRoot /var/www/html/firmware

	<Directory /var/www/html/firmware>
			Options +Indexes +FollowSymlinks
			IndexOptions FancyIndexing +FoldersFirst +HTMLTable +NameWidth=*
			AllowOverride None
			Order allow,deny
			allow from all
	</Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
