#
# {{ ansible_managed }}
#
[Unit]
Description=Synchronize Freifunk MWU Firmware directory

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -rlptvh4 --delete --exclude 'debug' rsync://{{ firmware_server }}.ffmwu.org:873/firmware /var/www/html/firmware
User=www-data
Group=www-data
