server {
    listen 80;
    server_name firmware.{{ http_domain_internal }} firmware.{{ http_domain_external }};

    charset utf-8;
    server_tokens off;

    root /var/www/html/firmware;
    location / {
        autoindex on;
        autoindex_exact_size off;
    }
}

{% for mesh in meshes %}
server {
    listen 80;
    server_name firmware.{{ mesh.http_domain_internal }} firmware.{{ mesh.http_domain_external }};

    charset utf-8;
    server_tokens off;

    root /var/www/html/firmware/{{ mesh.site_name.lower() }};
    location / {
        autoindex on;
        autoindex_exact_size off;
    }
}
{% if not loop.last %}

{% endif %}
{% endfor %}
