#
# {{ ansible_managed }}
#

{% for group in bgp_groups %}
{% for host in groups[group] %}
{% if host != inventory_hostname %}
protocol bgp mwu_{{ host.rsplit('.freifunk-mwu.de')[0] }} from ibgp_mwu {
    neighbor {{ bgp_ipv6_transfer_net | ipaddr('net') | ipsubnet(64, 0) | ipaddr(hostvars[host]['magic']) | ipaddr('ip') }} as mwu_as;
};

{% endif %}
{% endfor %}
{% endfor %}
{% for item, value in bgp_mwu_servers.items() %}
{% if item != inventory_hostname_short %}
protocol bgp mwu_{{ item }} from ibgp_mwu {
    neighbor {{ value.ipv6 }} as mwu_as;
};

{% endif %}
{% endfor %}
