use chroot = true

max connections = 10
timeout = 300

transfer logging = false
log file = /var/log/rsyncd.log

[firmware]
comment = gluon firmware builds
path = /var/www/html/firmware
read only = yes
list = yes
uid = nobody
gid = nogroup
strict modes = yes
ignore nonreadable = yes
