{% set ip4hex = item.value.ipv4_network | ipaddr('net') | ipaddr(magic) | ipaddr('address') | ip4_hex() -%}
{% set mac = '0211' + ip4hex -%}
#
# {{ ansible_managed }}
#
auto {{ item.key }}VPN
iface {{ item.key }}VPN
    hwaddress {{ mac | hwaddr('linux') }}
