#
# {{ ansible_managed }}
#
[NetDev]
Name=wg-{{ item.remote[:11] }}
Kind=wireguard
MTUBytes=1420

[WireGuard]
ListenPort={{ item.port }}
PrivateKey={{ wireguard_private_key }}

[WireGuardPeer]
Endpoint={{ lookup('dig', item.remote_hostname, 'qtype=AAAA') | ipwrap }}:{{ item.port }}
PublicKey={{ lookup('passwordstore', 'wireguard/' + item.remote + ' subkey=public') }}
AllowedIPs=0.0.0.0/0
AllowedIPs=::/0
