#!/usr/bin/ansible-playbook
---
- name: Manage Mesh Services Servers.
  hosts: services

  roles:
  - prerequisites
  - server-apt-repos
  - server-basic
  - network-loopback
  - users
  - system-sysctl
  - git-repos
  - service-haveged
  - service-ntpd
  - wireguard
  - network-routing
  - service-bird
  - service-nginx
  - service-prometheus
  - service-vnstat
  - { role: service-nullmailer, when: "'mail' is not in group_names" }
