# listening socket
host: "::1"
port: 28530

geo:
    provider: "mozilla"
    mozilla:
        api_key: "test"

director:
    enabled: true

    sqlite_path: "{{ director_data_dir }}/director.db"

    admin:
        enabled: true
        token: {{ lookup('passwordstore', 'domain_director/admin') }}

    geojson: "{{ director_conf_dir }}/domains.geojson"
    meshviewer_url: "https://map.ffmwu.org/#!/de/map/%s"
    meshviewer_json_url: "https://map.ffmwu.org/data/meshviewer.json"
    update_interval: 300

    default_domain: umland
    domain_switch_time: -1
    only_migrate_vpn: false
    tolerance_distance: 200
    max_accuracy: 100

locator:
    enabled: true
