#
# {{ ansible_managed }}
#
compatibility_level = 2

smtpd_banner = $myhostname ESMTP $mail_name
biff = no
readme_directory = /usr/share/doc/postfix
html_directory = /usr/share/doc/postfix/html
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
delay_warning_time = 24h

alias_maps = btree:/etc/aliases btree:/var/lib/mailman/data/aliases
alias_database = btree:/etc/aliases

recipient_delimiter = +
default_database_type = btree
#bounce_template_file=/etc/postfix/bounce-templates/bounce.de-DE.cf
disable_vrfy_command = no
address_verify_map = btree:${data_directory}/verify

# only accept SMTP MAIL FROM and RCPT TO commands enclosed with <>
strict_rfc821_envelopes = yes

# remote smtp clients have to introduce itself with helo or ehlo command
smtpd_helo_required = yes

myhostname = {{ inventory_hostname }}
mydomain = {{ mail_domain }}
myorigin = $mydomain
mynetworks = cidr:/etc/postfix/mynetworks_table.cidr
mydestination = lists.$mydomain, $myhostname, localhost.$mydomain, localhost

inet_protocols = ipv4, ipv6

# use soft_bounce if testing major config changes
soft_bounce = no
mailbox_size_limit = 0
message_size_limit = 102400000

# no relayhost, postfix will deliver mails itself
relayhost =

relocated_maps = btree:/etc/postfix/relocated_maps.btree
local_recipient_maps = proxy:unix:passwd.byname $alias_maps $relocated_maps

unverified_recipient_reject_code = 560
unverified_recipient_reject_reason = The recipient-address is not valid! Maybe wrong syntax or prescribed?
unknown_address_reject_code = 553
unknown_client_reject_code = 551
unknown_hostname_reject_code = 552
unknown_local_recipient_reject_code = 550
owner_request_special = no

# dns lookup order
smtp_host_lookup = native,dns
lmtp_host_lookup = native,dns

# limits for smtpd
smtpd_client_connection_rate_limit = 7
smtpd_client_message_rate_limit = 100
smtpd_client_recipient_rate_limit = 100

# Logging
smtp_tls_loglevel = 0
smtpd_tls_loglevel = 0

# relay domains and transport map
relay_domains = btree:/etc/postfix/relay_domains.btree
transport_maps =
    btree:/etc/postfix/relay_domains.btree
    btree:/etc/postfix/transport_maps.btree

# use new long queue ids
enable_long_queue_ids = yes

smtpd_milters = inet:[::1]:11332
milter_default_action = accept

# no body and header checks
body_checks =
header_checks =

# Virtual mailbox settings
virtual_mailbox_domains = proxy:mysql:/etc/postfix/sql/sql-domains.cf
virtual_mailbox_base = {{ dovecot_virtual_user_home }}
virtual_alias_domains = proxy:mysql:/etc/postfix/sql/sql-domain-aliases.cf
virtual_alias_maps = proxy:mysql:/etc/postfix/sql/sql-aliases.cf
virtual_minimum_uid = {{ dovecot_virtual_user_uid }}
virtual_uid_maps = static:{{ dovecot_virtual_user_uid }}
virtual_gid_maps = static:{{ dovecot_virtual_group_gid }}
# deliver virtual recipients to dovecot via unix lmtp socket
virtual_transport = lmtp:unix:private/dovecot-lmtp

# TLS parameters
tls_preempt_cipherlist = yes

# SMTP Daemon TLS parameters
smtpd_tls_cert_file=/etc/nginx/ssl/{{ http_domain_external }}/fullchain.pem
smtpd_tls_key_file=/etc/nginx/ssl/{{ http_domain_external }}/privkey.pem
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_exclude_ciphers = aNULL, eNULL, EXPORT, DES, RC4, MD5, PSK, aECDH, EDH-DSS-DES-CBC3-SHA, EDH-RSA-DES-CDB3-SHA, KRB5-DES, CBC3-SHA
smtpd_use_tls=yes
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_dh1024_param_file = /etc/postfix/dh2048.pem
smtpd_tls_dh512_param_file = /etc/postfix/dh512.pem
smtpd_tls_eecdh_grade = ultra

# SMTP Client TLS Parameters
smtp_tls_security_level = dane
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_note_starttls_offer = no

# smtp dns support
smtp_dns_support_level = dnssec

smtpd_sender_login_maps =
        proxy:mysql:/etc/postfix/sql/sql-sender-login-map.cf

smtpd_client_restrictions =
smtpd_helo_restrictions =
smtpd_sender_restrictions =
smtpd_recipient_restrictions =
# Whitelist postmaster, abuse and other role accounts
        check_recipient_access btree:/etc/postfix/access_recipient-rfc.btree
# client, sender, recipient white- and blacklisting
        check_client_access cidr:/etc/postfix/access_client.cidr
        check_sender_access btree:/etc/postfix/access_sender.btree
        check_sender_mx_access cidr:/etc/postfix/reject_bogus_ip.cidr
        check_sender_ns_access cidr:/etc/postfix/reject_bogus_ip.cidr
        check_recipient_access btree:/etc/postfix/access_recipient.btree
# don't accept dirty envelopes
        reject_non_fqdn_sender
        reject_non_fqdn_recipient
# don't permit unknown domains
        reject_unknown_sender_domain
        reject_unknown_recipient_domain
# permit own users/ systems
        permit_mynetworks
# more strict rfc checks
        reject_invalid_helo_hostname
        reject_non_fqdn_helo_hostname
        reject_unknown_helo_hostname
# bogus mx checks
        check_sender_access cidr:/etc/postfix/bogus_mx.cidr
# deny relaying
        reject_unauth_destination
# dynamically check for existent recipients (verify)
        reject_unverified_recipient
# helo checks
        check_helo_access pcre:/etc/postfix/helo_ip_hostname_check.pcre
        check_helo_access btree:/etc/postfix/access_helo.btree
# permit all mails which have survived
        permit

smtpd_relay_restrictions =
        permit_mynetworks
        reject_unauth_destination
