global:
  smtp_from: "admin@freifunk-mwu.de"
  smtp_smarthost: "localhost:25"
  smtp_require_tls: false

route:
  group_by: ['alertname', 'alertstate', 'cluster', 'service']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'mail_irc'

inhibit_rules:
- source_match:
    alertname: MachineDown
  target_match_re:
    alertname: (ExporterDown|Icmp4Timeout|Icmp6Timeout)
  equal: [hostname]

receivers:
  - name: 'mail_irc'
    email_configs:
      - send_resolved: true
        to: "admin@lists.freifunk-mwu.de"
    webhook_configs:
      - send_resolved: true
        url: http://127.0.0.1:8084/prometheus
